Rahul sharma
Assignment : 03/02/2023

ANSWER 1 :

Use of For Loop :
                In python for loop is used to iterate over a sequence (such as a list, tuple, string etc) or any iterable objects.
It executes a block of code once for each item in the sequence.

Example 1: Iterating over a list

In [1]:
l= [25,35,45,55,65]
for i in l :
    print(i)

25
35
45
55
65

Use of while loop :
                   in python while loop is used to repeatedly execute a block of code as long as a specified 
condition is true.
it continues iterating until the condition becomes false.

Example 1:

In [3]:
a = 2
while a <= 20 :
    print (a)
    a = a+2

2
4
6
8
10
12
14
16
18
20

Example 2 :Calculating factorial using a while loop

In [10]:
number = int(input('enter your number'))
factorial = 1

while number > 0:
    factorial = factorial*number
    number = number-1

factorial

enter your number 5

120

ANSWER 2:

In [11]:
#Using for loop

In [6]:
sum_natural_no = 0
for i in range (1,11):
    sum_natural_no = sum_natural_no + i
    
print ('sum of the first 10 natural numbers:',sum_natural_no)

sum of the first 10 natural numbers: 55

In [7]:
product_natural_no = 1

for i in range (1,11):
    
    product_natural_no = product_natural_no * i
print ('product  of the first 10 natural numbers:',product_natural_no)

product  of the first 10 natural numbers: 3628800

In [ ]:
#using while loop

In [17]:
sum_natural_no = 0
i = 1

while i <= 10:
    sum_natural_no = sum_natural_no + i
    i = i+ 1

print('Sum of the first 10 natural numbers:', sum_natural_no)

Sum of the first 10 natural numbers: 55

In [19]:
product_natural_no = 1
i = 1

while i <= 10:
    product_natural_no = product_natural_no * i
    i = i + 1

print('Product of the first 10 natural numbers:', product_natural_no)

Product of the first 10 natural numbers: 3628800

ANSWER 3:

In [30]:
def calculate_bill(units):
    total_bill = 0
    
    if units <= 100:
        total_bill = units * 4.5
    elif units <= 200:
        total_bill = 100 * 4.5 + (units - 100) * 6
    elif units <= 300:
        total_bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
    else:
        total_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
    
    return total_bill

def main():
    units = int(input('units of electricity consumed in a month: '))
    bill_amount = calculate_bill(units)
    print('Your electricity bill is Rs.', bill_amount)

if __name__ == '__main__':
    main()

units of electricity consumed in a month:  310

Your electricity bill is Rs. 2250.0

ANSWER 4 :

In [31]:
# using for loop

In [42]:
cubes_divisible_by_4_or_5 = []

for number in range (1, 101):
    cube = number ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_divisible_by_4_or_5.append(cube)

print(cubes_divisible_by_4_or_5)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [40]:
#using while loop

In [1]:
cubes_divisible_by_4_or_5 = []
number = 1

while number <= 100:
    cube = number ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_divisible_by_4_or_5.append(cube)
    number=number+ 1

print(cubes_divisible_by_4_or_5)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

ANSWER 5 :

In [2]:
string = "I want to become a data scientist"

string = string.lower()

vowels = {'a', 'e', 'i', 'o', 'u'}

vowel_count = 0
for character in string:
    if character in vowels:
        vowel_count = vowel_count + 1

print( vowel_count)

12